# Exporter HTTP server settings.
exporter:
  port: 9090           # HTTP listen port
  metrics:
    prefix: "kopia_go_exporter" # Prometheus metrics namespace
  interval: 300        # seconds between scrapes

# Kopia connection settings.
kopia:
  password: "set me in KGE_KOPIA_PASSWORD env var" # repository password
  apiserver:
    repositoryURL: "https://some.url:port" # API server URL
    hostname: "myhostname"                 # client hostname
    username: "mybackup"                   # client username
    fingerprint: "set me in KGE_KOPIA_APISERVER_FINGERPRINT env var" # server cert SHA256
  retentionstoextract: # retention reasons to export metrics for
    - "latest-1"

# Log level: debug, info, warn, error.
log_level: "debug"
